button {
  font-weight: 300;
  padding: 6px 14px;
  box-shadow: none;
  border: 1px solid #fbfbfb;
}

input, ion-input {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 4px;
  background-color: #e1e1e1;
}
